<div style="height: 10%;" layout-align="end center" layout="row">

	<md-input-container flex  style="margin-left: 1rem; margin-top: 1rem;">
	  <label>Search</label>
      <input type="text" id="search" ng-model="searchCriteria" style="width: 500px;" ng-keypress="onKeyPress($event)" >
	</md-input-container>  

	<md-button class="md-raised md-primary" ng-click="onSettings($event)">{{'settings' | translate}}</md-button>

	<md-button class="md-raised md-primary" ng-click="onAdd($event)">{{'add' | translate}}</md-button>
</div>
<md-content layout="column" style="height: 90%;">

    <md-virtual-repeat-container id="vertical-container" style="border-top: 1px solid #ddd; border-bottom: 0px solid #ddd"; md-auto-shrink>
      <div md-virtual-repeat="item in infiniteItems" md-on-demand
          class="repeated-item" flex style="padding: 0.2rem; padding-top: 0.8rem; padding-left: 1rem; padding-right: 1rem;" layout="column">
		<div layout="row">
			<div layout="column" flex=20>
				<div layout="row">
					<div style="font-weight: bold; margin-right: 5rem; margin-bottom: 0.3rem;" flex=10>Project:
					</div>
					<div flex=90>{{item.project}}</div>
				</div>			
				<div layout="row">
					<div style="font-weight: bold; margin-right: 5rem; margin-bottom: 0.3rem;" flex=10>Type:
					</div>
					<div flex=90>{{item.type}}</div>
				</div>

				<div layout="row">
					<div style="font-weight: bold; margin-right: 5rem; margin-bottom: 0.3rem;" flex=10>Status:
					</div>
					<div flex=90>{{item.status}}</div>
				</div>

				<div layout="row">
					<div style="font-weight: bold; margin-right: 5rem; margin-bottom: 0.3rem;" flex=10>Created:
					</div>
					<div flex=90>{{item.created}}</div>
				</div>

				<div layout="raw" style="margin-top:0.5rem; margin-left: -0.8rem;">
				   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px;" ng-click="onEdit($event, $index)">
				   	  <i class="fa fa-pencil-square-o" style="font-size: 15pt;"></i>
				   </md-button>	

				   <md-button class="md-icon-button launch" style="height: 35px; line-height: 35px; width: 35px; min-height: 35px;" ng-click="onDelete($index)">
				   	  <i class="fa fa-times" style="font-size: 15pt;"></i>
				   </md-button>			   		   
				</div>				
			</div>

			<div flex=80 style="padding-right: 2rem;">
				{{item.description}}
			</div>	
		</div>
      </div>
    </md-virtual-repeat-container>
</md-content>


